@import 'util/util';
@import 'settings';
@import 'foundation';


@include foundation-everything(true);

.container {
	background: url("/static/img/background.png");
	background-position: center;
	background-repeat: no-repeat;
}

header {
	background: $dark-gray;
	border-bottom: 2px solid $secondary-color;
	margin-bottom: 1rem;
}

body {
	footer {
		background-color: $primary-color;
		border-top: 2px solid $secondary-color;
		margin-top: 1rem;
		padding: 0.5rem;
		color: $white;

		a {
			color: $white;
		}

		a:hover {
			color: $medium-gray;
		}

		a:visited {
			color: $light-gray;
		}
	}
}

.logo {
	span {
		color: white;
		vertical-align: middle;
	}
	img {
		height: 4rem;
	}
}

button.hamburger {
	@include hamburger($white, $light-gray, 2rem, 2rem, rem-calc(6px), 3);
	float: left;
	margin: 1rem 0.5rem 0 0;
	background-color: inherit;
}

.card {
	padding: 0.5rem;
	color: $black;

	header {
		background: $primary-color;
		margin: -0.5rem;
		margin-bottom: 0.5rem;
		padding-left: 0.5rem;

	}

	legend {
		background-color: inherit;
	}
}

.card, .callout {
	h4,h5,h6,legend {
		color: $black;
	}
}

.callout.secondary {
	background: $secondary-color;
}

.warning h4 {
	color: $black;
}

button {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

button.warning {
	background-color: darken($warning-color, 0.1);
}

.dangerous {
	display: none;
}

.capital {
	text-transform: capitalize;
}

.controls {
	margin-top: 1rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: flex-start;

	.rack-selection legend {
		text-align: center;
	}

	.card {
		min-width: 14rem;
		height: 97%;

		&.rack-selection {
			flex-basis: 100%;
		}
	}

	#crosspoint {
		order: 0;
	}

	#in1606 {
		order: 10;
	}

	#ossc {
		order: 1;
	}

	#vp50 {
		order: 15;
	}
	#cropper {
		order: 99;
	}
}

label {
	display: inline-block;
}
