
$primary-color: rgb(118,63,142);
$secondary-color:rgb(231,192,26);
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #cc4b37;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

.container {
	background: url("/static/img/background.png");
	background-position: center;
	background-repeat: no-repeat;
}

body > header {
	margin-top: 0;
}

header {
	background: $dark-gray;
	border-bottom: 2px solid $secondary-color;
	margin-bottom: 1rem;
	color: $white;

	h1 {
		margin: 0;
		font-size: 300%;
	}
	h3 {
		margin: 0;
		font-size: 200%;
	}
}

body {
	background: $black;
	color: $white;
	margin: 0;
	padding: 0;
	footer {
		background-color: $primary-color;
		border-top: 2px solid $secondary-color;
		margin-top: 10rem;
		padding: 0.5rem;
		color: $white;
	

		a {
			color: $white;
		}

		a:hover {
			color: $medium-gray;
		}

		a:visited {
			color: $light-gray;
		}
	}
}

.menu {
	li {
		list-style: none;
		margin: 0 0.5rem;
	}
}

ul.horizontal {
	display: flex;
	flex-direction: row;
}

a {
	text-decoration: none;
}

.logo {
	span {
		color: white;
		vertical-align: middle;
	}
	img {
		height: 4rem;
	}
}

.card {
	padding: 0 0.5rem 0.5rem;
	color: $black;
	background: $white;
	margin: 1rem;

	header {
		background: $primary-color;
		margin: 0.5rem -0.5rem;
		padding: 0.5rem;
	}

	legend {
		background-color: inherit;
	}
}

.card, .callout {
	h4,h5,h6,legend {
		color: $black;
	}
}

.callout.secondary {
	background: $secondary-color;
}

.warning h4 {
	color: $black;
}

button {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	background: $primary-color;
	color: $white;
	border: none;
	padding: 0.5rem 1rem;
}

button.warning {
	background-color: darken($warning-color, 0.1);
}

.dangerous {
	display: none;
}

.capital {
	text-transform: capitalize;
}

.controls {
	margin-top: 1rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: flex-start;

	.rack-selection legend {
		text-align: center;
	}

	.card {
	}

	#crosspoint {
		order: 0;
	}

	#in1606 {
		order: 10;
	}

	#ossc {
		order: 1;
	}

	#vp50 {
		order: 15;
	}
	#cropper {
		order: 99;
	}
}

label {
	display: inline-block;
}

select {
	width: 100%;
}

.reveal {
	display: none;
}

fieldset {
	margin: 1rem 0;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.columns {
	box-sizing: border-box;
}
.small-6 {
	width: 50%;
}

.small-12 {
	width: 100%;
}

@media(min-width:700px) {
	.medium-3 {
		width: 25%;
	}

	.medium-4 {
		width: 33.33%;
	}

	.medium-6 {
		width: 50%;
	}

	.medium-8 {
		width: 66.66%;
	}
}