<div class="card" id="in1606-cropper" class="show-for-medium">
	<svg class="chopper" viewBox="-2048 -1200 8192 4800">
	</svg>
	<fieldset>
		<label>Lock X:</label><input type="checkbox" name="lockX" >
		<label>Lock Y:</label><input type="checkbox" name="lockY" >
	</fieldset>
</div>
