<nav>
	<ul class="horizontal menu">
		<li><a href="/" target="_blank">Speedcontrol</a></li>
		<li><a href="https://horaro.org/esa/2016" target="_blank">Schedule</a></li>
		<li>
			<a href="https://discordapp.com/channels/85369684286767104/166429804063621122" target="_blank">Discord</a>
		</li>
	</ul>
</nav>
