<nav>
	<ul class="horizontal menu">
		<li><a href="localhost:8080" target="_blank">Speedcontrol</a></li>
		<li><a href="https://horaro.org/esa/2020-winter1" target="_blank">Schedule Stream 1</a></li>
		<li><a href="https://horaro.org/esa/2020-winter2" target="_blank">Schedule Stream 2</a></li>

		<li><a href="https://docs.google.com/spreadsheets/d/1o7OUBgLAPQBUtzYvvAhR6lLCWzN2zwC2TynlMEfd8Yc" target="_blank">Tech Schedule</a></li>
		<li><a href="https://docs.google.com/spreadsheets/d/1oDk8ZzttpVZ9RT4drNdlQH0iivlXNiPXQK2tFOH6d94" target="_blank">PC Schedule</a></li>
		<li>
			<a href="https://discordapp.com/channels/85369684286767104/166429804063621122" target="_blank">Discord</a>
		</li>
	</ul>
</nav>
