<div class="columns small-12" id="messages">
<%  if (!!locals.success) {%>
		<div class="callout success">
			<%- locals.success || "" %>
		</div>
<% } %>

<%  if (!!locals.error) {%>
	<div class="callout alert">
		<%- locals.error || "" %>
	</div>
<% } %>
</div>

