Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada tincidunt risus. Cras ac nibh neque. Integer ac laoreet lacus. Phasellus lectus eros, aliquam ut purus ac, rutrum semper nisl. Aenean elementum feugiat condimentum. Sed quis ipsum eros. Morbi odio turpis, sodales eu dui in, tincidunt efficitur dolor. Pellentesque nec lectus eget nulla euismod egestas sed eget quam.

<!-- Replace this with Flexbox magic to allow better balanced sides in large mode, but more important controls at the top in mobile mode. -->
<div class="controls">
	<div class="card rack-selection">
		<fieldset class="fieldset">
			<legend>Rack</legend>
			<div class="row">
				<div class="columns small-6 ">
					<form method="POST" action="/rack/preset">
						<label>Presets</label>
						<select>
						<%
							for (let preset of presets) {
						%>

						<option value="<%=preset%>"><%= preset%></option>

						<% } %>
						</select>
						<input type="submit" name="submit" value="Apply">
						<input type="submit" name="submit" value="Store">
					</form>
				</div>
				<div class="columns small-6 ">
					<div>
						<input type="radio" name="rack" value="all">
						<label>All racks</label>
					</div>

					<%
						const racks = [1,2,3,4];
						for (let rack of racks) {
					%>
					<div>
						<input 
							type="radio"
							name="rack"
							value="<%= rack%>"
							<%= rack == current.rackSelection.rack ? "checked" : "" %>>
						<label>Rack <%= rack%></label>
					</div>
				<% } %>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<div class="columns small-12 medium-expand" id="crosspoint">
			<%- include('forms/crosspoint') %>
		</div>
		<div class="columns small-12 medium-8" id="in1606">
			<%- include('forms/in1606') %>
		</div>
		<div class="columns small-12 medium-expand" id="ossc">
			<%- include('forms/ossc') %>
		</div>
		<div class="columns small-12 medium-expand" id="vp50">
			<%- include('forms/vp50') %>
		</div>
	</div>
		
</div>

<%- contentFor('asideArea') %>
<div class="callout secondary">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada tincidunt risus. Cras ac nibh neque. Integer ac laoreet lacus. Phasellus lectus eros, aliquam ut purus ac, rutrum semper nisl. Aenean elementum feugiat condimentum. Sed quis ipsum eros. Morbi odio turpis, sodales eu dui in, tincidunt efficitur dolor. Pellentesque nec lectus eget nulla euismod egestas sed eget quam.
</div>

