<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>ESAController</title>
		<link rel="stylesheet" type="text/css" href="/static/app.css">
	</head>
	<body>
		<header class="small-12 columns">
			<h1 class="logo">
				<a href="/">
					<img src="/static/img/esalogo.png"><span>Controller</span>
				</a>
			</h1>
		</header>
		<div class="row">
			<%- include('partials/messages') %>
				<%- body %>
		</div>

		<footer>
			<div class="row">
				<%- include('partials/footerlinks')%>
			</div>
			<div class="row">
				Design by Johan "Zephyyrr" Fogelström 2017.
			</div>
		</footer>

		<script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
		<!--<script type="text/javascript" src="/static/js/vendor/foundation.js"></script>-->

		<script type="text/javascript" src="/static/js/app2.js"></script>
		<!--<script type="text/javascript" src="/static/js/app.js"></script>-->
		<script>
			$(document).foundation();
		</script>
	</body>
</html>
