<nav>
	<ul data-accordion-menu class="vertical menu">
		<li><a href="/">Start</a></li>
			<hr>
			<h6>Rack Control</h6>
			<li><a href="/">Basics</a></li>
			<li><a href="/">Advanced</a></li>
		<li><a href="/">Settings</a></li>
	</ul>
</nav>
