<div class="card">
	<header>
		<h3>IN1606</h3>
	</header>
	<form method="POST" action="/rack/in1606">
		<fieldset>
			<label>Input</label>
			<select name="input">
				<option selected >No change</option>
				<% for (var i = 1; i < 9; i++) { %>
					<option><%= i %></option>
				<% } %>
			</select>
		</fieldset>

		<fieldset class="fieldset">
			<legend>Cropping</legend>
			<label>Width</label>
			<input type="number" name="width">

			<label>Height</label>
			<input type="number" name="height">

			<label>Horizontal Shift</label>
			<input type="number" name="horizontalShift">

			<label>Vertical Shift</label>
			<input type="number" name="verticalShift">
		</fieldset>

		<!--
		public int contrast;
		public int brightness;
		-->

		<input type="submit" value="Send"/>
	</form>

		<%-  /*   %>

	<hr>

	<button onclick="$('#in1606_dangerous').toggle()" class="warning">Show dangerous operations</button>
	<div id="in1606_dangerous" class="callout warning dangerous">
		<h5 class="capital">warning: dangerous operations. beware!</h5>
	</div>

		<%-  */   %>
</div>
